body {
  background-color: black;
  color: white;
  text-align: justify;
  display: block;
}

h2 {
  color: aqua;
  text-align: center;
  text-shadow: 0px 0px 10px lime;
  margin-bottom: 30px;
}

img {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 50vw
}

div {
  display: block;
}

p {
  margin: 0 auto;
  display: block;
  padding: 30px 40px;
  box-shadow: 0px 0px 3px 3px aqua;
  text-align: justify;
  width: 60vw;
}
